@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-weight: 40px;
  font-size: large;
}

body {
  padding: 0;
  margin: 0;
}

.logo {
  color: #a21c1c;
  width: -moz-min-content;
  width: min-content;
}
.logo.h-50 {
  height: 50px;
  min-width: 150px;
}
.logo.h-100 {
  height: 100px;
}

.center-horizontal, .Modal {
  left: 50%;
  transform: translate(-50%, 0);
}

.center-vertical, .Modal {
  top: 50%;
  transform: translate(0, -50%);
}

.center-horizontal.center-vertical, .Modal {
  transform: translate(-50%, -50%);
}

.Modal {
  position: absolute;
  padding: 1.7rem;
  border: 2px solid #ECE2D0;
  border-radius: 1rem;
  width: 40vw;
  max-width: 600px;
}
.Modal .slidesWrapper {
  overflow: hidden;
}
.Modal .slidesWrapper .slide {
  overflow: hidden;
  display: grid;
  row-gap: 1rem;
  transition: 1s all ease-in;
  overflow: auto;
}
.Modal .slidesWrapper .slide.hidden {
  max-height: 0px;
}
.Modal .title {
  text-align: center;
  font-size: xx-large;
  font-weight: 800;
  margin-bottom: 10px;
}

.screen {
  position: relative;
  display: none;
  height: 100vh;
}
.screen.active {
  display: block;
}

.memberVoteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}

.gamesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.gamesContainer .game {
  display: flex;
}
.gamesContainer .game .votes {
  color: #bb2222;
  margin-left: auto;
}

.Button {
  margin-top: 10px;
}
.Button .exterior {
  border-radius: 0.7rem;
}
.Button .interior {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.7rem;
  transform: translate(0, -10px);
  transition: 0.6s;
}
.Button .interior:hover {
  transform: translate(0, 0);
}
.Button.red .exterior {
  background-color: #a21c1c;
}
.Button.red .interior {
  color: white;
  background-color: #bb2222;
}
.Button.grey .exterior, .Button.memberContainer .exterior, .Button.messagesContainer .exterior {
  background-color: #ECE2D0;
}
.Button.grey .interior, .Button.memberContainer .interior, .Button.messagesContainer .interior {
  background-color: white;
  border: 2px solid #ECE2D0;
}
.Button.selected .interior {
  transform: translate(0, -5px);
}
.Button.no-transform {
  margin-top: auto;
}
.Button.no-transform .exterior {
  width: -moz-max-content;
  width: max-content;
}
.Button.no-transform .interior {
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem;
  transform: translate(0, 0);
}

.label {
  padding: 1rem;
  padding-bottom: 0;
  padding-top: 0;
}

.error {
  color: #bb2222;
  height: 0px;
  transition: 1s height;
  background-color: rgba(244, 41, 41, 0.5568627451);
  border-radius: 0.7rem;
}
.error.visible {
  border: 2px solid #bb2222;
  padding: 1rem;
  height: 40px;
}

.errorWrapper {
  position: relative;
  transition: 0s;
}
.errorWrapper .error {
  padding: 1rem;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 0px;
  transition: 0.1s;
  background-color: unset;
  border: unset;
  border-radius: unset;
}
.errorWrapper .error.visible {
  transition: 1s;
  margin-top: calc(1rem + 40px);
}
.errorWrapper .inputWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 2;
}
.errorWrapper.errorActive {
  transition: 0s;
  background-color: rgba(244, 41, 41, 0.5568627451);
  border: 2px solid #bb2222;
  border-radius: 0.7rem;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  border: none;
  display: block;
  flex-grow: 1;
  outline: none;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: #f0f0f0;
  resize: none;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, textarea::-moz-placeholder {
  color: #c5bdaf;
}
input[type=text]::placeholder, input[type=password]::placeholder, textarea::placeholder {
  color: #c5bdaf;
}

.container, .memberContainer, .gameInfoContainer, .messagesContainer {
  padding: 1rem;
}
.container.flex, .flex.memberContainer, .flex.gameInfoContainer, .flex.messagesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.container.no-padding, .no-padding.memberContainer, .no-padding.gameInfoContainer, .no-padding.messagesContainer {
  padding: 0px;
}
.container.grey, .memberContainer, .grey.gameInfoContainer, .messagesContainer {
  border-radius: 0.7rem;
  background-color: #f0f0f0;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gameInfoContainer {
  border-bottom: 2px solid #ECE2D0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top, .header {
  z-index: 1;
  position: fixed;
  top: 0px;
}

.bottom {
  z-index: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.header {
  background-color: white;
  width: calc(100vw - 2rem);
  max-width: calc(1000px - 2rem);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.header .items {
  margin-left: 90px;
  margin-right: 90px;
  width: calc(100vw - 180px);
  display: flex;
  justify-content: space-between;
}
.header .items .item {
  margin-top: auto;
  margin-bottom: auto;
}
.header .items .item:hover {
  font-weight: 600;
  color: #a21c1c;
}

.mainWrapper {
  align-items: center;
  justify-content: center;
  justify-items: center;
  position: relative;
}

.main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: calc(2rem + 50px + 2px);
}

.section, .mainSection {
  border-radius: 20px;
  position: relative;
  margin: 1.7rem;
  background-color: #f0f0f0;
  padding: 1rem;
  align-items: center;
  display: flex;
  gap: 1.7rem;
}
.section .info, .mainSection .info {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section .info .title, .mainSection .info .title {
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
  font-size: xx-large;
}
.section .info .text, .mainSection .info .text {
  text-align: center;
}
.section .media, .mainSection .media {
  border-radius: 20px;
  height: 250px;
  background-color: white;
  flex: 2;
}
.section:nth-child(2), .mainSection:nth-child(2) {
  flex-direction: row-reverse;
}

.mainSection {
  flex-direction: column;
  position: relative;
  margin: 0;
  background-color: white;
  padding: 0px;
  flex-direction: column;
}
.mainSection .info {
  gap: 1.7rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}
.mainSection .imageandlogo {
  width: 100%;
  height: calc(40vh + 50px);
  overflow: hidden;
}
.mainSection .imageandlogo .mainImage {
  background-color: #bb2222;
  border-radius: 20px;
  height: 40vh;
}
.mainSection .imageandlogo .mainLogo {
  position: absolute;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainSection .Button {
  margin-left: auto;
  margin-right: auto;
}
.mainSection .Button .interior {
  width: -moz-fit-content;
  width: fit-content;
}
.mainSection .Button .exterior {
  width: -moz-fit-content;
  width: fit-content;
}

.sectionsContainer {
  justify-content: center;
}

.Landing {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.memberContainer {
  transition: 1s;
  gap: 1rem;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
}
.memberContainer .member {
  display: flex;
}
.memberContainer .member.self .name {
  font-weight: 600;
}
.memberContainer .member .name {
  margin-top: auto;
  margin-bottom: auto;
}
.memberContainer .member .icon {
  margin-right: 1rem;
  height: 40px;
  width: 40px;
}

.NavBar {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  height: calc(100vh - 2rem);
  border-right: 2px solid #ECE2D0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: calc(40px + 2rem);
  overflow: hidden;
  transition: 1s all;
}
.NavBar .item {
  border-radius: 0.7rem;
  display: flex;
  padding: 1rem;
}
.NavBar .item:hover {
  background-color: #f0f0f0;
}
.NavBar .item .name {
  width: 0px;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
}
.NavBar .item .icon {
  width: 40px;
  height: 40px;
}
.NavBar:hover {
  width: 40vw;
}
.NavBar:hover .item .name {
  padding-left: 1rem;
  overflow: visible;
  transition: 1s;
}

.App {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  margin-left: calc(40px + 4rem);
}

@media (max-width: 500px) {
  .Modal {
    padding: 1rem;
    max-width: none;
    left: 0px;
    width: calc(100vw - 2rem);
    border: none;
    transform: translate(0, -50%);
  }
  .section, .mainSection {
    flex-direction: column;
  }
  .section:nth-child(2), .mainSection:nth-child(2) {
    flex-direction: column;
  }
  .section .media, .mainSection .media {
    width: 100%;
  }
  /*.Button .interior {
      transform: translate(0, 0);
  }*/
}
@media (min-width: 500px) and (max-width: 750px) {
  .Modal {
    padding: 1rem;
    max-width: none;
    width: 80vw;
  }
  .section, .mainSection {
    flex-direction: column;
  }
  .section:nth-child(2), .mainSection:nth-child(2) {
    flex-direction: column;
  }
  .section .media, .mainSection .media {
    width: 100%;
  }
  /*.Button .interior {
      transform: translate(0, 0);
  }*/
}
@media (max-width: 1000px) {
  .NavBar {
    width: calc(100vw - 2rem);
    border-top: 2px solid #ECE2D0;
    border-right: unset;
    flex-direction: row;
    height: unset;
    left: 0;
    top: unset;
    bottom: 0;
    gap: 0px;
    justify-content: space-evenly;
  }
  .NavBar:hover {
    width: calc(100vw - 2rem);
  }
  .NavBar .item:hover {
    background-color: unset;
  }
  .NavBar:hover .item .name {
    padding-left: 0px;
    overflow: hidden;
    transition: 1s;
  }
  .screen {
    height: calc(100vh - 40px - 4rem);
  }
  .App {
    margin-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */