@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$border-color: #ECE2D0;
$bg-color-2: #f0f0f0;
$bg-color-2-transparent: rgba(240, 240, 240, 0.605);
$bg-color-2-darker: #e4e4e4;
$font-color-2: #c5bdaf;

$color-2-light: #f429298e;
$color-2: #bb2222;
$color-2-darker: #a21c1c;

$padding-normal: 1.7rem;
$padding-small: 1rem;
$padding-x-small: 0.7rem;

$grid-gap-normal: 1rem;

$border-radius-normal: 1rem;
$border-radius-small: 0.7rem;

$font-size: 40px;
$title-font-size: xx-large;

* {
    font-family: "Poppins", sans-serif;
    font-weight: $font-size;
    font-size: large;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    color: $color-2-darker;
    width: min-content;

    &.h-50 {
        height: 50px;
        min-width: 150px;
    }
    &.h-100 {
        height: 100px;
    }
}

.center-horizontal {
    left: 50%;
    transform: translate(-50%, 0);
}

.center-vertical {
    top: 50%;
    transform: translate(0, -50%)
}

.center-horizontal.center-vertical {
    transform: translate(-50%, -50%)
}

.disable-outside-clicks {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.Modal {
    position: absolute;
    background-color: white;
    
    @extend .center-horizontal;
    @extend .center-vertical;
    
    padding: $padding-normal;
    border: 2px solid $border-color;
    border-radius: $border-radius-normal;
    width: 40vw;
    max-width: 600px;
    
    //row-gap: $grid-gap-normal;

    .top {
        position: static;
        display: flex;
        margin-bottom: 10px;
        
        .icon {
            position: relative;
            height: 40px;
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
        }
    }

    &.hidden {
        opacity: 0;
    }

    &.dominant { // TODO: Box shadow and avoid other clicks
        z-index: 20;
        box-shadow: 0px 0px 1px 5000px $bg-color-2-transparent;
    }

    .slidesWrapper {
        overflow: hidden;
        
        .slide {
            overflow: hidden;
            display: grid;
            row-gap: $grid-gap-normal;
            transition: 1s all ease-in;
            //max-height: 400px;
            overflow: auto;

            &.hidden {
                max-height: 0px;
            }
        }
    }
    
    .title {
        text-align: center;
        font-size: $title-font-size;
        font-weight: 800;
        margin-bottom: 0;
    }
}

.title {
    width: 100%;
    font-size: $title-font-size;
    font-weight: 800;
    margin-bottom: 10px;

}

.Shrinkable {
    .title {
        margin-top: auto;
        border-bottom: 2px solid $border-color;
        display: flex;

        div {
           font-size: inherit; 
        }

        .icon {
            margin-top: auto;
            margin-bottom: auto;
            height: 40px;
            transform: rotate(90deg);
            transition: 0.5s;
            
            &.shrinked {
                transform: rotate(0);
            }
        }
    }

    .content {
        overflow: hidden;
        max-height: 4000px;
        padding-left: 40px;
        padding-right: 40px;
        //transition: 10s;
        
        &.shrinked {
            //transition: 1s;
            max-height: 0;
        }
    }

    .Shrinkable {
        .title {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: large;
        }
    }
}

.screen {
    position: relative;
    display: none;
    height: 100vh;

    &.active {
        display: block;
    }
    
}

.memberVoteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $padding-small;
    row-gap: $padding-small;
}

.gamesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: $padding-small;
    row-gap: $padding-small;

    .game {
        display: flex;

        .votes {
            color: $color-2;
            margin-left: auto;
        }
    }
}


.Button {
    margin-top: 10px;
    .exterior {
        border-radius: $border-radius-small;
    }
    
    .interior {
        padding: $padding-small;
        padding-top: $padding-small;
        padding-bottom: $padding-small;
        border-radius: $border-radius-small;
        transform: translate(0, -10px);
        transition: 0.6s;
        
        &:hover {
            transform: translate(0, 0);
            
        }
        
    }
    
    &.red {
        .exterior {
            background-color: $color-2-darker;
        }

        .interior {
            color: white;
            background-color: $color-2;
        }
    }

    &.grey {
        .exterior {
            background-color: $border-color
        }
        .interior {
            background-color: white;
            border: 2px solid $border-color;
        }
    }

    &.selected {
        .interior {
            transform: translate(0, -5px);
        }
    }

    &.no-transform {
        .exterior {
            width: max-content;        
        }
        margin-top: auto;
        .interior {
            width: max-content;
            padding: $padding-x-small;
            transform: translate(0, 0);
        }
    }
}

.label {
    padding: $padding-small;
    padding-bottom: 0;
    padding-top: 0;
}

.error {
    color: $color-2;
    height: 0px;
    transition: 1s height;
    background-color: $color-2-light;
    border-radius: $border-radius-small;
    
    &.visible {
        border: 2px solid $color-2;
        padding: $padding-small;
        height: $font-size;
    }
}

.errorWrapper {
    position: relative;
    transition: 0s;
    
    .error {
        padding: $padding-small;
        height: auto;
        position: relative;
        z-index: 1;
        margin-top: 0px;
        transition: 0.1s;
        background-color: unset;
        border: unset;
        border-radius: unset;
        
        &.visible {
            transition: 1s;
            margin-top: calc($padding-small + $font-size );
        }
    }
    
    .inputWrapper {
        position: absolute;
        width: 100%;
        display: flex;
        z-index: 2;
        
    }
    
    &.errorActive {
        transition: 0s;
        background-color: $color-2-light;
        border: 2px solid $color-2;
        border-radius: $border-radius-small;
    }
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    border: none;
    display: block;
    flex-grow: 1;
    outline: none;
    padding: $padding-small;
    border-radius: $border-radius-small;
    background-color: $bg-color-2;
    resize: none;
    
    &::placeholder {
        color: $font-color-2
    }

}

.container {
    padding: $padding-small;

    &.flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: $padding-small;
    }

    &.no-padding {
        padding: 0px;
    }

    &.grey {
        border-radius: $border-radius-small;
        background-color: $bg-color-2; 
    }
}

.messagesContainer {
    @extend .container;
    @extend .grey;
    
    display: flex;
    flex-direction: column;
    gap: $padding-small;

}

.gameInfoContainer {
    @extend .container;
    border-bottom: 2px solid $border-color;
    display: flex;
    flex-direction: column;
    gap: $padding-small
}

.top {
    z-index:1;
    position: fixed;
    top: 0px;
}

.bottom {
    z-index: 0;
    position: absolute;
    width: 100%;
    bottom: 0px
}

.Header {
    //border-bottom: 2px solid $border-color;
    background-color: white;
    width: calc(100vw - 2* $padding-small);
    max-width: calc(1000px - 2* $padding-small);
    @extend .top;
    padding: $padding-small;
    display: flex;
    justify-content: space-between;
    z-index: 3;

    .logoContainer {
        height: 50px;
    }
    
    .menuBtnContainer {
        display: none;
        height: 50px;
        width: 50px;

        .menuBtn {
            height: inherit;
        }
    }

    .items {
        margin-left: 90px;
        margin-right: 90px;
        width: calc(100vw - 2 * 90px);
        display: flex;
        justify-content: space-between;

        .item {
            margin-top: auto;
            margin-bottom: auto;

            &:hover {
                font-weight: 600;
                color: $color-2-darker;
            }
        }
    }
}

.sideBar {
    display: none;
    margin-top: -100vh;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-left-radius: $border-radius-normal;
    border-bottom-right-radius: $border-radius-normal;
    position: fixed;
    width: calc(100vw - 2 * $padding-small);
    transition: 1s margin-top;
    z-index: 2;
    padding: $padding-small;
    flex-direction: column;
    border: 2px solid $border-color;
    
    .item {
        padding: $padding-small;
        border-radius: $border-radius-small;
        &:hover {
            background-color: $bg-color-2;
        }
    }

    &.active {
        margin-top: calc(2 * $padding-small + 50px);
    }
}

.mainWrapper {
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
}

.main {
    margin-left: auto;
    margin-right: auto;
    //max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: $padding-normal;
    margin-top: calc(2 * $padding-small + 50px)
}


.section {
    border-radius: 20px;
    position: relative;
    margin: $padding-normal;
    background-color: $bg-color-2;
    padding: $padding-small;
    align-items: center;
    display: flex;
    gap: $padding-normal;
    
    .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        .title {
            line-height: 1.2;
            text-align: center;
            font-weight: 800;
            font-size: $title-font-size;
        }

        .text {
            text-align: center;
            
        }

    }
    
    .media {
        border-radius: 20px;
        height: 250px;
        background-color: white;
        flex: 2;
    }    

    &:nth-child(2) {
        flex-direction: row-reverse;
    }
}

.mainSection {
    flex-direction: column;
    position: relative;
    margin: 0;
    background-color: white;
    @extend .section;
    padding: 0px;
    flex-direction: column;
    
    .info {
        gap: $padding-normal;
        padding-left: $padding-normal;
        padding-right: $padding-normal;
    }

    .imageandlogo {
        width: 100%;
        height: calc(40vh + 50px);
        overflow: hidden;
        .mainImage {
            background-color: $color-2;
            border-radius: 20px;
            height: 40vh;
        }

        .mainLogo {
            position: absolute;
            padding: $padding-small;
            background-color: white;
            border-radius: 20px;
            left: 50%;
            transform: translate(-50%, -50%)
        }

        
    }
    
    .Button {
        margin-left: auto;
        margin-right: auto;
        .interior {
            width: fit-content;
        }
        .exterior {
            width: fit-content;
        }
    }
}

.sectionsContainer {
    justify-content: center
}

.Help {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;   

    .gamesGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: $padding-x-small;
        row-gap: $padding-x-small;
    }
}

.Landing {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.memberContainer {
    @extend .container;
    @extend .grey;
    transition: 1s;
    gap: $padding-small;
    flex-direction: column;
    overflow-y: auto;
    display: flex;

    .member {
        display: flex;

        &.self {
            .name {
                font-weight: 600;
            }
        }

        .name {
            margin-top: auto;
            margin-bottom: auto;

        }

        .icon {
            margin-right: $padding-small;
            height: 40px;
            width: 40px;
        }
        
    }
}

.NavBar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100vh - 2 * $padding-small);

    border-right: 2px solid $border-color;
    
    display: flex;
    flex-direction: column;
    padding: $padding-small;
    gap: $padding-small;
    
    width: calc(40px + 2*$padding-small);
    
    overflow: hidden;
    transition: 1s all;
    
    .item {
        border-radius: $border-radius-small;
        display: flex;
        padding: $padding-small;
        
        &:hover {
            background-color: $bg-color-2;
        }

        .name {
            width: 0px;
            overflow: hidden;
            margin-top: auto;
            margin-bottom: auto;
            white-space: nowrap;
        }
        
        .icon {
            // color: $color-2;
            width: 40px;
            height: 40px;
        }
    }
    
    &:hover {
        width: 40vw;
    }
    
    &:hover .item .name {
        padding-left: $padding-small;
        overflow: visible;
        transition: 1s;
    }
}

.App {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    margin-left: calc(40px + 4*$padding-small);
}

@media (max-width: 500px) {
    .Modal {

        padding: $padding-small;
        max-width: none;
        left: 0px;
        width: calc(100vw - 2 * $padding-small);
        border: none;
        transform: translate(0, -50%);
    }
    
    .section {
        flex-direction: column;
        
        &:nth-child(2) {
            flex-direction: column;
        }
        
        .media {
            width: 100%;
        }
    }
    
    .Header {
        .logo {
            margin-top: auto;
            margin-bottom: auto;
        }

        .menuBtnContainer {
            display: block;
        }

        .items {
            display: none;
        }
        
        .gotoappButton {
            display: none;
        }
    }
    .sideBar {
        display: block;
    }
    /*.Button .interior {
        transform: translate(0, 0);
    }*/
}

@media (min-width: 500px) and (max-width: 750px) {
    .Modal {
        padding: $padding-small;
        max-width: none;
        width: 80vw;
    }
    
    .section {
        flex-direction: column;
    
        &:nth-child(2) {
            flex-direction: column;
        }
        
        .media {
            width: 100%;
        }
    }
    
    .Header {
        .menuBtnContainer {
            display: block;
        }

        .items {
            display: none;
        }
    }
    .sideBar {
        display: block;
    }
    /*.Button .interior {
        transform: translate(0, 0);
    }*/
}

@media (max-width: 1000px) {
    .NavBar {
        width: calc(100vw - 2*$padding-small);
        border-top: 2px solid $border-color;
        
        border-right: unset;
        flex-direction: row;
        height: unset;
        left: 0;
        top: unset;
        bottom: 0;

        gap: 0px;
        justify-content: space-evenly;

        &:hover {
            width: calc(100vw - 2 * $padding-small);
        }

        .item {
            &:hover {
                background-color: unset;
            }
        }
        
        &:hover .item .name {
            padding-left: 0px;
            
            overflow: hidden;
            transition: 1s;
        }
    }

    .Help {
        .gamesGrid {
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) )
        }
    }
    .screen {
        height: calc(100vh - 40px - 4 * $padding-small);
    }

    .App {
        margin-left: 0px;
        // height: calc(100vh - ( 40px + 4 * $padding-small ) );
    }
}